*{
    padding: 0;
}


h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: slateblue;
}


li{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    text-align: center;
    border: 2px solid slateblue;
    width: 14em;
    margin-bottom: 1ex;
    padding-top: 0.5ex;
    padding-bottom: 1ex;
}

ul a{
    color: slateblue;
    float: right;
    position: relative;
    right:1.6em;
}

.collection{
    list-style: none;
}


/* card */
.card{
    margin: 0 auto;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 12px solid slateblue;
    border-radius: 1em;
    width:33em;
    height:fit-content;
    position: relative;
    top:7em;
}

.card-content{
    margin: 1.4em;
}

.card-top{
    display: block;
}

.card-list{
    margin-bottom: 4em;
}

.card-save a{
    text-decoration: none;
    color: slateblue;
    font-weight: 600;
    border-bottom: 3px solid slateblue;
    position: relative;
    left:24.5em;
    bottom: 1ex;
}

/* form */

form label{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.234em;
}

form input{
    border:none;
    border-bottom: 2px solid slateblue;
    padding-right: 19em;
    position: relative;
    top:2em;
    margin-bottom:8em;
}

form input::placeholder{
    font-size: 2.5ex;
    color: gray;
}

form input:focus{
    outline: none;
}

form input:hover{
    cursor: pointer;
}

form button{
    color: white;
    border: none;
    font-weight: bolder;
    background-color: slateblue;
    padding:1.4ex;
    border-radius: 0.4em;
    position: relative;
    bottom: 3em;
}

form button:hover{
    cursor: pointer;
}

/* card-list */

.clear-btn{
    color: white;
    background-color: slateblue;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    padding:1ex;
}

.clear-btn:hover{
    cursor: pointer;
}

@media screen and (max-width:670px){
    .card{
        height:fit-content;
        width: 27em;
    }

    .card-list{
        margin-bottom: 0;
    }

    form label{
       display: none; 
    }

    form input{
        width:6em;
        position: relative;
        top:1px;
        left:2px;
    }

    form button{
        position: relative;
        bottom:7em;
    }

    .card-list{
        position: relative;
        bottom: 5.5em;
    }

    .card-save{
        position: relative;
        right:6em;
    }
}